<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Board Read Page</h1>

        <div class="form-group">
            <label >Bno</label>
            <input type="text" class="form-control" name="gno" th:value="${dto.bno}" readonly >
        </div>

        <div class="form-group">
            <label >Title</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly >
        </div>
        <div class="form-group">
            <label >Content</label>
            <textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
        </div>
        <div class="form-group">
            <label >Writer</label>
            <input type="text" class="form-control" name="writer" th:value="${dto.writerName}" readonly>
        </div>
        <div class="form-group">
            <label >RegDate</label>
            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div class="form-group">
            <label >ModDate</label>
            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>

        <a th:href="@{/board/list}">
            <button type="button" class="btn btn-info">List</button>
        </a>
        <!-- 삭제 버튼 -->
        <button type="button" id="deleteButton" class="btn btn-danger replyRemove" th:data-bno="${dto.bno}">DELETE</button>


        <div >
            <div class="mt-4">
                <h5 ><span class="badge badge-info addReply">Add Reply</span> </h5>
                <h5 ><span class="badge badge-secondary replyCount"> Reply Count  [[${dto.replyCount}]]</span> </h5>
            </div>
            <div class="list-group replyList">

            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="r_msg">글이 등록 되었습니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- button type="button" class="btn btn-primary">Save changes</button -->
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">

            var msg = [[${msg}]];

            if(msg){
                $(".modal").modal();
            }

            $('#deleteButton').click(function() {
                var bno = $(this).data('bno'); //게시글 번호가져오기

                // Ajax 요청으로 삭제 처리
                $.ajax({
                    url: '/board/delete/' + bno,
                    type: 'DELETE',
                    success: function(response) {
                        alert(response); // 삭제 성공 메시지
                        window.location.href = '/board/list';
                    },
                    error: function(xhr, status, error) {
                        alert("삭제 실패: " + xhr.responseText); // 삭제 실패 메시지
                    }
                });
            });
        </script>
    </th:block>

</th:block>

